/* Reset some default styles */
body, h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 1rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.main {
  margin: 20px;
}

.blog-list {
  margin: 20px;
}

.blog-list h2 {
  margin-bottom: 10px;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: auto; /* Push the footer to the bottom */
}

