:root {
    --text-color: #3C3431;
    --navbar-text-color: #fff;
    --tan-color: #705446;
    --navbar-color: #171614;
    --hover-background: #9e9c98;
    --hover-background2: #696765;
    --contact-background: #F2F2F2;
    
}

.dark-mode {
    --text-color: #fff;
    --navbar-text-color: #fff;
    --tan-color: #eee;
    --navbar-color: #696765;
    --hover-background: #444;
    --contact-background: #333;
    --bg-color: #222;
  }

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--contact-background);
    color: var(--text-color);
  }


  #navbar {
    background-color: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom:10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 45px;
  }
  
  .left-links {
    order: 1;
  }
  
  .right-links {
    order: 2;
  }
  
  #nav-list-l,
  #nav-list-r {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  #nav-list-r li:last-child {
    margin-right: 0;
  }

  li {
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    #nav-list-l {
      flex-direction: column;
    }
    
    #nav-list-l li,
    #nav-list-r li {
      margin-right: 0;
    }

    #navbar {
      font-size: 12px;
      padding: 5px;
    }
    
    .right-links {
      order: 2;
    }
    
    .left-links {
      order: 1;
    }
  }
  
  
  a {
    color: var(--navbar-text-color);
    text-decoration: none;
    font-size: 1.7em;
    padding: 1.08rem 2rem;
  }
  a:hover{
    background-color: var(--hover-background);
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  

  /*/////////////////////////WELCOME SECTION////////////////////////*/
  
  #welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  

  .job-title {
    font-size: 3rem;
    font-weight: 100%;
    width: 70%;
    text-align: center;
    margin-top: 0;
  }
  .description {
    color: var(--text-color);
    font-size: 2rem;
    font-style: italic;
    font-weight: 80%;
    width: 60%;
    text-align: center;
  }
  .skills-button, .contact-button, .projects-button, .top-button {
    border: 1px solid var(--text-color);
    border-radius: 10px;
  }
  #welcome-section a {
    color: var(--text-color);
  }

@media screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    .job-title {
      font-size: 2rem;
      width: 70%;
    }
    .description {
      font-size: 1.5rem;
      width: 70%;
    }
    .skills-button, .contact-button, .projects-button, .top-button {
      font-size: 19px;
    }
  }

/*/////////////////////////SKILLS SECTION////////////////////////*/

#skills {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  max-width: 1200px; /* set a maximum width for the element */
  overflow: auto; /* enable scrolling when the content exceeds the element's size */
  margin-bottom: 100px; /* add a margin at the bottom */
}

.skills-header {
  width: 80%;
  text-align: center;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
}

.left-column, .right-column {
  width: 45%;
  margin: 0 2.5%;
}


.left-column h2, .right-column h2, .skills-header h2{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.left-column li, .right-column li, .skills-header li {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: Lato, sans-serif;
  text-align: center;
}

.skills {
  position: relative;
}

.projects-button {
  display: block;
  margin: 50px auto;
  text-align: center;
}

#skills a {
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .left-column, .right-column {
    width: 100%;
    margin: 0;
    display: block;
  }
  .left-column h2, .right-column h2, .skills-header h2{
    font-size: 2.5rem;
  }
  .left-column li, .right-column li, .skills-header li {
    font-size: 1.5rem;
  }
  .skills-header {
    padding-bottom: 80px;
  }
}


/*/////////////////////////PROJECTS SECTION////////////////////////*/
  
  .projects {
    text-align: center;
    margin: 0;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  .project-image {
    height: 500px;
    width: 800px;
    object-fit: cover;
    border: 4px solid var(--text-color);
    border-radius: 20px;
  }
  
  .project-tile {
    width: 100%;
    font-size: 25px;
    margin: 0;
    padding: 1.5rem 0;
  }
  .project-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .project-button {
    display: inline-block;
    border-radius: 0.5rem;
    background-color: var(--hover-background);
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 20px;
    margin-right: 20px;

  }
  
  .project-button:hover {
    background-color: var(--hover-background2);
  }
  

  .projects {
    position: relative;
  }
  .projects-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  

  #projects a {
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 2.5rem;
    }
    iframe {
      width: 700px;
      height: 300px;
    }
    .project-image {
      width: 700px;
      height: 300px;
    }
  }

  /*/////////////////////////CONTACT SECTION////////////////////////*/
  
  #contact {
    width: 100%;
    height: 90vh;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  
  #contact-h2 {
    margin-top: 200px;
  }

  #contact a {
    color: var(--text-color);
  }

  #contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contact-p {
    font-style: italic;
    font-weight: 100;
    text-align: center;
  
  }

  #contact-h2 {
    align-content: center;
  }
  
  .contact-links {
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
  }

  .contact {
    position: relative;
  }

  .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* set the height of the container */
  }
  .top-button {
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
    transition: background-color 0.3s;
  }

  @media (max-width: 768px) {
    #contact-h2 {
      font-size: 2.5rem;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .contact-links {
      font-size: 12px;
    }
  }

  /*/////////////////////////FLICKER////////////////////////*/

  .flicker {
    opacity: 0.5;
    animation: flickerAnimation 0.5s alternate infinite;
  }

  @keyframes flickerAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /*/////////////////////////FORM////////////////////////*/

  form {
    width: 100%;
    max-width: 680px;
    margin: auto;
    padding: 30px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    width: 48%;
    margin-bottom: 15px;
  }

  .form-group1 {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: var(--navbar-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: var(--navbar-text-color);
  }
  
  button[type="submit"]:hover {
    background-color: var(--hover-background2);
  }
  
  @media only screen and (max-width: 768px) {
    form {
      max-width: 500px;
    }
    
    .form-group {
      width: 100%;
    }
    
    input[type="text"], input[type="email"], textarea {
      font-size: 14px;
    }
  }
  


/*/////////////////////////FOOTER////////////////////////*/
footer {
    background-color: var(--navbar-color);
    color: var(--navbar-text-color);
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }

  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }
  
  .social-links a {
    font-size: 20px;
  }



  @media screen and (max-width: 768px) {
    
  
    /* Change layout */
    .grid {
      display: flex;
      flex-direction: column;
    }
  
    /* Adjust image sizes */
    img {
      max-width: 100%;
      height: auto;
    }
  
    /* Adjust footer */
    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .footer-columns {
      flex-direction: column;
    }
    .footer-links {
      text-align: center;
      margin-top: 20px;
    }
  }
  
  
  