#card0, #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13 {
    display: inline-block;
    width: 75px;
    height: 115px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    font-size: 3rem;
  }


  #showcard, #clearvotes {
    display: inline-block;
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(214, 213, 213);
    border-radius: 10px;
  }

  #showcard:hover {
    background-color: rgba(128, 128, 128, 0.479);
  }

  #results {
    margin-top: 20px;
  }
  
  #card-container {
    display: flex;
    justify-content: center;
  }

  #card0 {
    background-color: #B3DFC2;
  }
  
  #card1 {
    background-color: #C7ECAE;
  }

  #card1 {
    background-color: #b3eb8e;
  }
  
  #card2 {
    background-color: #DAF99A;
  }
  
  #card3 {
    background-color: #EEFF86;
  }

  #card4 {
    background-color: #FFFF72;
  }

  #card5 {
    background-color: #FFE25E;
  }

  #card6 {
    background-color: #FFC14A;
  }

  #card7 {
    background-color: #ff9822d0;
  }

  #card8 {
    background-color: #fc4f23d0;
  }

  #card9 {
    background-color: #ff3300b2;
  }

  #card10 {
    background-color: #ff3908d2;
  }

  #card11 {
    background-color: #ff3300d8;
  }

  #card12 {
    background-color: #ff3300;
  }

  #card13 {
    background-color: #ff3300;
  }

  #card14 {
    background-color: #ff3300;
  }

  #card0:hover, #card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover, #card6:hover, #card7:hover, #card8:hover, #card9:hover, #card10:hover, #card11:hover, #card12:hover, #card13:hover {
    transform: scale(1.07);
  }

  #numCardsInput {
    width: 50px;
  }

  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="radio"], [type="select"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  #cards {
    position: relative;
    top: 20px;
    bottom: 100px;
  }
  